Esses são alguns logs gerados da tentativa de login no site, it is a sql Injection or was for to be, well cool. 

2026-03-23 00:45:30 | IP: 1xx.0.2.2 | SQL Injection:  ' OR '1'='1'
2026-03-23 00:45:54 | IP: 1xx.0.2.2 | SQL Injection:  ' OR '1'='2'
2026-03-23 00:46:08 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1,2
2026-03-23 00:46:24 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1
2026-03-23 00:46:26 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1
2026-03-23 00:46:27 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1
2026-03-23 00:46:29 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1
2026-03-23 00:46:34 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1
2026-03-23 00:46:35 | IP: 1xx.0.2.2 | SQL Injection:  UNION SELECT 1
2026-03-23 00:47:03 | IP: 1xx.0.2.2 | SQL Injection: UNION SELECT 1